<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Detalle de Producto</title>
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/productStyle.css'%}">
</head>

<body>
    {% for idProd, nombre, precio, stock, imagen, descripcion, cat in producto %}
    <div class="wrapper">
        <div class="product-img">
            <img src="{% static 'images/' %}{{imagen}}" height="420" width="327">
        </div>
        <div class="product-info">
            <div class="product-text">
                <h1>{{nombre}}</h1>
                <p>{{descripcion}}</p>
            </div>
            <div class="product-price-btn">
                <p><span>{{precio}}</span>€</p>
                <a href="carrito?idProducto={{idProd}}" class="btn btn-primary" style="float: right;
                                        display: inline-block; height: 50px;
                                        width: 176px; margin: 0 40px 0 16px;
                                        box-sizing: border-box; border: transparent;
                                        border-radius: 60px; font-family: 'Raleway', sans-serif;
                                        font-size: 14px; font-weight: 500;
                                        text-transform: uppercase; text-align: center;
                                        align-content: center; letter-spacing: 0.2em;
                                        color: #ffffff; background-color: #9cebd5;
                                        cursor: pointer; outline: none;">Comprar</a>
            </div>
        </div>
    </div>
    {% endfor %}

</body>
</html>